body {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.cajaColor {
  height: 150px;
  width: 150px;
  background-color: #fee140;
  background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
}

.contenedorFormulario {
  box-shadow: 5px 5px 12px gray;
  background: white;
}

.card {
  max-width: 300px;
  box-shadow: 5px 5px 12px gray;
}

.cajaColorCard {
  height: 100px;
  width: 100px;
}
